@page
@model HoaHoeHoaSoi.Pages.ADMIN.Feedback.IndexModel
@{
    Layout = "/Pages/Shared/_HomeAdminLayout.cshtml";
}


<style>
    .container-fluid {
        background-color: #F6D8DC;
        color: #9D1030;
        padding: 2vw 6vw 2vw 6vw;
        position: relative;
        justify-content: space-between; /* Đảm bảo các phần tử trong container được căn ra hai bên */
        align-items: center; /* Canh giữa các phần tử theo chiều dọc */
    }

    .btn {
        border-radius: 30px;
        background-color: #9D1030;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 1vw;
        border: none;
        color: white;
        padding: 0.5vw 2vw 0.5vw 2vw;
        margin-bottom: 5%;
    }

    .btn-create {
        text-decoration: none;
    }

    .form-control {
        width: 20vw;
    }

    .form-group {
        display: flex;
        align-items: center;
        margin-left: auto;
    }

    .btn-search {
        border-radius: 30px;
        background-color: #9D1030;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 1.6vw;
        border: none;
        color: white;
        padding: 0.5vw 2vw 0.5vw 2vw;
    }

    .btn-create {
        border-radius: 30px;
        background-color: #9D1030;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 1.6vw;
        border: none;
        color: white;
        padding: 0.5vw 2vw 0.5vw 2vw;
        margin-right: auto;
    }

    #wall-form {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
</style>

<div class="container-fluid">
    <a href="/ADMIN/HomeAdmin" class="btn-create" role="button" style="text-decoration: none;font-size: 1.2em;padding-bottom: 0.1%;padding-top: 0.1%;">Back</a>
    <div id="wall-form" class="container-fluid">
        <form method="get">
            <div class="form-group">
                <label for="search" style="font-size:1.6vw;padding-right:3vw"><b>Search</b></label>
                <input type="text" name="search" class="form-control" asp-for="Search" />
                <div style="padding-left:4vw">
                    <button type="submit" class="btn-search">Search</button>
                </div>
            </div>
        </form>
    </div>

    <div class="row" style="display:block; padding-top:2vw;">
        <div class="col-12">
            <table class="table" style="border-radius: 20px; overflow: hidden;">
                <thead style="background-color: lightpink;">
                    <tr>
                        <th scope="col">Feedback ID</th>
                        <th scope="col">Customer Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone Number</th>
                        <th scope="col">Content</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody style="background-color: lightpink;">
                    @foreach (var feedback in Model.FeedbackList) {
                        <tr>
                            <td>@feedback.FeedbackId</td>
                            <td>@feedback.CustomerName</td>
                            <td>@feedback.Email</td>
                            <td>@feedback.Phone</td>
                            <td>@feedback.Content</td>
                            <td>
                                <a href="/ADMIN/Feedback/Edit/@feedback.FeedbackId" class="btn btn-danger" role="button">Edit</a>
                                <form asp-page-handler="Delete">
                                    <input hidden type="number" value="@feedback.FeedbackId" asp-for="DeleteId" />
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>