@page
@model HoaHoeHoaSoi.Pages.Shared.CartModel
@{
}
@if (TempData["SuccessMessage"] != null) {
    <div class="alert alert-success" role="alert">
        @TempData["SuccessMessage"]
    </div>
}
<div class="container">
    @if (!ModelState.IsValid) {
        <div class="alert alert-danger" role="alert">
            <ul>
                @foreach (var modelState in ViewData.ModelState.Values) {
                    foreach (var error in modelState.Errors) {
                        <li>@error.ErrorMessage</li>
                    }
                }
            </ul>
        </div>
    }
</div>
<style>
    .remove-link {
        display: inline-block;
        padding: 10px 20px;
        background-color: #9D1030;
        color: white;
        text-decoration: none;
        border-radius: 5px;
    }

        .remove-link:hover {
            background-color: #771023;
        }

    .info-left {
        display: none;
        width: 50%;
    }

    .info-right {
        width: 50%;
    }

    .box-title {
        font-size: 2.5vw;
        color: #9D1030;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        padding: 0.4vw;
    }

    .text-box {
        width: 30vw;
        font-family: Courier;
        font-size: 1.2vw;
        color: #9D1030;
        background-color: #F6D8DC;
        border-color: #9D1030;
        border: 0.15vw solid;
        border-radius: 100px;
        padding: 0.5vw 1.5vw 0.5vw 1.5vw;
    }

    .text-header {
        border-bottom: solid;
        border-color: #9D1030;
        font-size: 2.2vw;
        color: #9D1030;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .text-header-total {
        border-top: solid;
        border-color: #9D1030;
        font-size: 2.2vw;
        color: #9D1030;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .btn-submit {
        border-radius: 30px;
        background-color: #9D1030;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 1.6vw;
        border: none;
        color: white;
        padding: 0.5vw 2vw 0.5vw 2vw;
    }

    .products_cart {
        border-radius: 30px;
        background-color: #F6D8DC;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 1.6vw;
        border-color: #9D1030;
        color: #9D1030;
        padding: 0.5vw 2vw 0.5vw 2vw;
        border: 0.15vw solid;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .payment-submit{
        display: none;
    }
</style>

<div class="container-fluid text-white" style="padding: 2vw; background-color: #9D1030; ">
    <p style="text-align: center; font-family: Courier; font-size: 4vw; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; padding:0 0 ">
        <b>IT'S TIME TO CHECK OUT !</b>
    </p>
</div>
<form id="orderForm" method="post">
    <div id="div-payment" class="container-fluid text-white" style="background-color: #F6D8DC; padding: 2% 10%; display: flex;">
        <div class="info-left payment-submit">
            <div class="text-header">
                <p style="text-align: center; margin-bottom: 0.1vw;"><b>DELIVERY INFORMATION</b> </p>
            </div>
            <input type="hidden" id="currentQuantityInput" name="currentQuantity" value="0">
            <label class="box-title" for="name">Name</label><br>
            <center>
                <input class="text-box" type="text" id="name" name="name" required><br>
            </center>
            <label class="box-title" for="phone">Phone</label><br>
            <center>
                <input class="text-box" type="text" id="phone" name="phone" required><br>
            </center>
            <label class="box-title" for="address">Address</label><br>
            <center>
                <input class="text-box" type="text" id="address" name="address" required>
            </center>

        </div>

        <div class="info-right payment-submit container-fluid">
            <div class="text-header">
                <p style="text-align: center; margin-bottom: 0.1vw;"><b>DELIVERY INFORMATION</b> </p>
            </div>
            <br />
            <center style="width: 100%; display: flex; margin: auto; justify-content:center">
                <div class="products_cart" style="width: 40%">
                    <input type="radio" id="momo" name="paymentMethod" value="0" required>
                    <label for="momo">Momo</label>
                </div>
                <div style="width: 10%"></div>
                <div class="products_cart" style="width: 40%">
                    <input type="radio" id="cod" name="paymentMethod" value="1" required>
                    <label for="cod">COD</label>
                </div>
            </center>
            <p class="box-title format-product-price" style="text-align: center">TOTAL: @Model.TotalAmount VND</p>
        </div>

        @* <div style="width:10%"></div> *@
        <div class="payment-checkout">
            <div class="text-header">
                <p style="text-align: center; margin-bottom: 0.1vw;"><b>LIST</b> </p>
            </div>
            <div style="height:1.5vw"></div>
            @if (Model.SelectedProducts != null) {
                @foreach (var product in Model.SelectedProducts) {
                    <div class="products_cart" data-product-id="@product.Id">
                        <div style="max-width:25%">
                            @if (!string.IsNullOrEmpty(product.Img))
                            {
                                <img id="product-pic" src="data:image/jpeg;base64, @product.Img" style="max-width: 90%; max-height: 90%">
                            }
                            else
                            {
                                <img class="product-pic" src="/Picture/Hoa.png" style="max-width: 90%; max-height: 90%" />
                            }
                        </div>
                        <div style="float:left; width: 40%">
                            @product.Name
                        </div>
                        <div style="display: flex; justify-content: space-between; align-items: center;">
                            <input style="width:15%;margin-left: 20%;" type="number" class="quantity-input" value="@product.Quantity" min="1" onchange="updateCart(@product.Id, this)">
                            <span class="price format-product-price">@product.Price VND</span>
                            <a href="/Cart?handler=Delete&productId=@product.Id" class="remove-link">Remove</a>
                        </div>
                    </div>
                    <div style="padding:0.5vw"></div>
                }
            }
            <div class="text-header-total">
                <p style="text-align: right;">
                    <span style="float: left;"><b>TOTAL: </b></span>
                    <b><span id="totalAmount" class="format-product-price">@Model.TotalAmount</span> VND</b>                   
                </p>
            </div>
        </div>
    </div>

    <div id="div-payment" class="container-fluid text-white" style="background-color: #F6D8DC; padding: 2% 10%; display: flex;border:none">
        <center style="width:100%" class="payment-submit">           
            <input type="hidden" name="TotalAmount" value="@Model.TotalAmount" />
            <button type="button" id="submitButton" form="orderForm" class="btn-submit" onclick="onBack()"><b>BACK</b></button>
            <button type="submit" id="orderButton" form="orderForm" class="btn-submit"><b>ORDER NOW!</b></button>
        </center>
        <center style="width:100%" class="payment-checkout">
            <button type="button" id="checkoutButton" form="orderForm" class="btn-submit" onclick="onCheckOut()"><b>CHECK OUT</b></button>
        </center>
    </div>
</form>
@section Scripts{
    <script>
        init();
        function init() {
            var color = '#9D1030';
            var isDisabled = false;
            if (@Model.SelectedProducts.Count == 0) {
                color = 'grey';
                isDisabled = true;
            }

            $('#checkoutButton').css('background-color', color);
            $('#checkoutButton').prop('disabled', isDisabled);
        }

        function updateCart(productId, e) {
            debugger;
            window.location.href = "/Cart?handler=Update&productId=" + productId + "&quantity=" + e.value;
        }
        function onCheckOut() {
            $('.payment-checkout').css('display', 'none');
            $('.payment-submit').css('display', 'block');
        }
        function onBack() {
            $('.payment-checkout').css('display', 'block');
            $('.payment-submit').css('display', 'none');
        }
    </script>
}

