@page "{id}"
@model HoaHoeHoaSoi.Pages.UserInfoModel 
@{
    ViewData["Title"] = "Information";
}


<style>
    .underlist {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 1.6vw;
        list-style-type: none;
        margin: 1vw 0.5vw 0.5vw;
        padding: 0;
        width: 10%;
        position: fixed;
        height: 100%;
        overflow: auto
    }

    li a {
        color: #9D1030;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        display: block;
        padding: 8px 16px;
        text-decoration: none;
    }
/*
    li a.active {
        color: white;
    }

    li a:hover:not(.active) {
        background-color: #9D1030;
        color: white;
    }*/

    .form-control {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        border-color: #9D1030;
        padding: 0.5vw 1vw 0.5vw 1vw;
        border-radius: 100px;
    }

    .row{
        padding: 1vw 0vw 0vw 0vw;
    }

    .btn {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        border-color: #9D1030;
        padding: 0.5vw 1vw 0.5vw 1vw;
        border-radius: 100px;
        background-color: #9D1030;
        color: white;
    }

    .question {
        color: #9D1030;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        padding: 1vw;
    }
</style>

        @*<a href="/Index" class=" btn btn-outline-success" style="border-radius:5vw; float:right">Log out</a>*@


<div style="background-color: #F6D8DC; color: #9D1030;">
    <form method="post" enctype="multipart/form-data">
        <div class="container" style=" padding: 2vw 10vw 2vw 10vw">
            <div >
                <div class="row row-cols-2">
                    <div class="col col-4">
                        <div class="box py-4">
                            <div class="row">
                                @if (!string.IsNullOrEmpty(Model.Avatar))
                                {
                                    <img id="avatar-display" src="data:image/jpeg;base64, @Model.Avatar" class="img-thumbnail" alt="Beatles" style="width:auto;">
                                }
                                else
                                {
                                    <img id="avatar-display" src="https://cdn.sforum.vn/sforum/wp-content/uploads/2023/10/avatar-trang-4.jpg" class="img-thumbnail" alt="Beatles" style="width:auto;">
                                }
                            </div>
                            <br />
                            <div class="row">
                                <input type="hidden" id="avatar" name="avatar" value="@Model.Avatar"/>
                                <input asp-for="FileAvatar" id="file-avatar" class="form-control" accept="image/png, image/jpg, image/jpeg" onchange="readURL(this);" />
                                <div style=" padding-top: 1vw"></div>
                                <button type="button" class="btn btn-outline-success" onclick="deleteAvatar();">
                                    <b>Delete Avatar</b>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col col-8 ps-5" style="width: 50%; justify-content: center; margin-left: auto; ">
                        <div class="box">
                            <div class="row">
                                <span class="fName"><b>Username</b></span>
                                <input id="uname" name="Username" value="@Model.Username" type="text" class="form-control" placeholder="" readonly>
                                <a href="/ChangePass/@Model.Id" class="question"><p>Change password</p></a>
                            </div>
                            <div class="row">
                                <input type="hidden" name="id" value="@Model.Id" />
                                <span class="fName"><b>Name</b></span>
                                <input id="fname" name="Fullname" value="@Model.Fullname" type="text" class="form-control" placeholder="">
                            </div>
                            <div class="row row-cols-3">
                                <div class="col col-5 px-0">
                                    <span class="Users"><b>Birthday</b></span>
                                    <input type="date" id="DOB" name="DOB" value="@(Model.DOB?.ToString("yyyy-MM-dd"))">
                                </div>
                                <div class="col col-2"></div>
                                <div class="col col-5 px-0">
                                    <span class="Users"><b>Gender</b></span>
                                    <br/>
                                    <input type="radio" id="male" name="gender" value="true" @Html.Raw(Model.Gender ? "checked" : "")>
                                    <label for="male">Male</label>
                                    <input type="radio" id="female" name="gender" value="false" @Html.Raw(!Model.Gender ? "checked" : "")>
                                    <label for="female">Female</label>
                                </div>
                            </div>
                            
                            <div class="row">
                                <span class="Users"><b>Email</b></span>
                                <input id="email" name="email" type="text" class="form-control" value="@Model.Email" >
                            </div>
                            
                           @*  <div class="row">
                                <span class="Users">Password</span>
                                <input id="pass" name="pass" type="password" class="form-control" value="@Model.Password">
                            </div> *@
                            
                            <div class="row">
                                <span class="Users"><b>Phone</b></span>
                                <input id="phone" name="phone" type="text" class="form-control" value="@(Model.Phone == " " ? "" : Model.Phone)">
                            </div>
                            
                            <div class="row">
                                <span class="Users"><b>Address</b></span>
                                <input id="address" name="address" type="text" class="form-control" value="@(Model.Address == " " ? "" : Model.Address)">
                            </div>
                            
                            <div class="row mb-3">
                                <div class="col-sm-4 d-grid">
                                    <button type="submit" class="btn btn-success"><b>Submit</b></button>
                                </div>
                                <div class="col-sm-4 d-grid">
                                    <a class="btn btn-outline-success" href="/Users/Infor?id=@Model.Id" role="button"><b>Cancel</b></a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@section Script{
    <script type="text/javascript">
        var errorMsg = @Html.Raw(Json.Serialize(Model.ErrorMsg));
        var isSuccess = @Html.Raw(Json.Serialize(Model.IsSuccess));
        console.log("S: " + isSuccess);
        if (errorMsg) {
            Swal.fire({
                title: "Error, please try again",
                icon: "error",
                html: errorMsg
            });
        } else if (isSuccess) {
            Swal.fire({
                title: "Update successful",
                text: "",
                icon: "success"
            });
        }

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#avatar-display').attr('src', e.target.result);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }

        function deleteAvatar(){
            $('#avatar-display').attr('src', "https://cdn.sforum.vn/sforum/wp-content/uploads/2023/10/avatar-trang-4.jpg");
            $('#avatar').attr('value', null);
            var avatarInput = $('#file-avatar');
            if (avatarInput && avatarInput.length > 0) {
                avatarInput[0].value = null;
            }
        }
    </script>
}